
data_80_80_80/base_rates.Rda
output2.Rda
output2_new.Rda
output_aspirin2.Rda
output_aspirin2_new.Rda
new_rates.Rda
output_aspirin_sens1.Rda
output_aspirin_sens2.Rda
WPP2024_DeathsBySingleAgeSex_Medium_1950-2023.csv
WPP2024_DeathsBySingleAgeSex_Medium_2024-2100.csv
WPP2024_POP_F01_1_POPULATION_SINGLE_AGE_BOTH_SEXES.xlsx
